<h1>Referees#index</h1>
<table>
  <tr>
    <th>Referee Id</th>
    <th>Name</th>
	  <th>Age</th>
    <th></th>
  </tr>

  <% @referees.each do |referee| %>
    <tr>
      <td><%= referee.RefereeId %></td>
      <td><%= referee.RefereeName %></td>
      <td><%= referee.Age %></td>
    </tr>
  <% end %>
</table>
