<nav class="navbar navbar-expand-xl navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">Premier League 2018 - 2019</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/clubs">Clubs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/matches">Matches</a>
      </li>
      <li class="nav-item active" >
        <a class="nav-link" href="/referees">Referees</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/matchdates">Match Dates</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0" action="/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
      <input type="text" name="q" id="q" class="form-control mr-sm-2" placeholder="Club Search">
      <select name="category" id="category" class="form-control mr-sm-2"><option value="0">All</option>
        <option value="46">Abstract Strategy</option>
      <input type="submit" name="commit" value="Search" class="btn btn-outline-success my-2 my-sm-0" data-disable-with="Search">
    </form>
  </div>
</nav>

<h1>Referees</h1>
<table class="table">
  <thead class="thead-light">
    <th>Referee Id</th>
    <th>Name</th>
	  <th>Age</th>
    <th></th>
  </thead>

  <% @referees.each do |referee| %>
    <tr>
      <td><%= referee.RefereeId %></td>
      <td><%= referee.RefereeName %></td>
      <td><%= referee.Age %></td>
    </tr>
  <% end %>
</table>
