<h1>MatchDates#index</h1>
<table>
  <tr>
    <th>Date Of Match</th>
    <th>Temperature</th>
    <th></th>
  </tr>

  <% @matchdates.each do |matchdate| %>
    <tr>
      <td><%= matchdate.Date %></td>
      <td><%= matchdate.Temperature %></td>
    </tr>
  <% end %>
</table>
